@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

/* 🎯 Fluxy ERP Theme (SUA PALETA) */
:root {
/* 🔥 Paleta principal */
--primary: #AE0001;
--primary-actived: #06264D;
--secondary: #06264D;
--tertiary: #061735;

/* 🌍 Base */
--background: #ffffff;
--foreground: #ffffff;

/* 🧱 Componentes */
--card: #ffffff;
--card-foreground: #ffffff;

--popover: #ffffff;
--text-popover: #00000000;

/* 🎯 Ações */
--primary-foreground: #ffffff;

--secondary-foreground: #ffffff;

--muted: ffffff;
--muted-foreground: #9ca3af;

--accent: var(--primary);
--accent-foreground: #ffffff;

--destructive: #ff4d4d;
--destructive-foreground: #ffffff;

/* 🧩 UI */
--border: #E4E4E7;
--input: #0b1f3a;
--ring: var(--primary);

/* 📊 Charts */
--chart-1: #AE0001;
--chart-2: #06264D;
--chart-3: #061735;
--chart-4: #1e3a5f;
--chart-5: #9ca3af;

/* 📐 Radius */
--radius: 0.625rem;

/* 📌 Sidebar */
--sidebar: #ffffff;
--sidebar-foreground: #000000;
--sidebar-primary: #06264D;
--sidebar-primary-foreground: #ffffff;
--sidebar-accent: ##ffffff;
--sidebar-accent-foreground: #000000;
--sidebar-border: #1e293b;
--sidebar-ring: #06264D;
}

/* 🎨 Tailwind Mapping */
@theme inline {
--font-sans: 'Geist', 'Geist Fallback';
--font-mono: 'Geist Mono', 'Geist Mono Fallback';

--color-background: var(--background);
--color-foreground: var(--foreground);

--color-card: var(--card);
--color-card-foreground: var(--card-foreground);

--color-popover: var(--popover);
--color-popover-foreground: var(--popover-foreground);

--color-primary: var(--primary);
--color-primary-foreground: var(--primary-foreground);

--color-secondary: var(--secondary);
--color-secondary-foreground: var(--secondary-foreground);

--color-tertiary: var(--tertiary);

--color-muted: var(--muted);
--color-muted-foreground: var(--muted-foreground);

--color-accent: var(--accent);
--color-accent-foreground: var(--accent-foreground);

--color-destructive: var(--destructive);
--color-destructive-foreground: var(--destructive-foreground);

--color-border: var(--border);
--color-input: var(--input);
--color-ring: var(--ring);

--color-chart-1: var(--chart-1);
--color-chart-2: var(--chart-2);
--color-chart-3: var(--chart-3);
--color-chart-4: var(--chart-4);
--color-chart-5: var(--chart-5);

--radius-sm: calc(var(--radius) - 4px);
--radius-md: calc(var(--radius) - 2px);
--radius-lg: var(--radius);
--radius-xl: calc(var(--radius) + 4px);

--color-sidebar: var(--sidebar);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-ring: var(--sidebar-ring);
}

/* 🧱 Base */
@layer base {

* {
  @apply border-border outline-ring/50;
  }

body {
@apply bg-background text-foreground;
}
}
